body{
  background: #374046;
  font-family: 'Open Sans', sans-serif;
}
.App {
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}

.blocks-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  /* Display blocks in a column */
  align-items: center;

}

.block {
  padding: 10px;
  margin: 10px;
  object-fit: cover;
  background-color: #ffe5ec;
  cursor: move;
  font-size: 12px;
  display: inline-flex;
  border-radius: 1em;
}

.delete-button {
  margin-left: 20px;
}

.content {
  margin-top: 10px;
  font-size: 12px;
  width: 200px;
  display: flex;
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
}

.file>input[type='file'] {
  display: none
}


.file {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file>input[type='file'] {
  display: none
}

.block-image {
  display: inline-flex;
}